<div id="<%= dom_id category %>">
  <p>
    <strong>Angry:</strong>
    <%= category.angry %>
  </p>

  <p>
    <strong>Anxious:</strong>
    <%= category.anxious %>
  </p>

  <p>
    <strong>Jealous:</strong>
    <%= category.jealous %>
  </p>

  <p>
    <strong>Lonely:</strong>
    <%= category.lonely %>
  </p>

  <p>
    <strong>Sad:</strong>
    <%= category.sad %>
  </p>

  <p>
    <strong>Unmotivated:</strong>
    <%= category.unmotivated %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= category.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= category.body %>
  </p>

</div>
